AzureResourceManagement-3/Templates/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "RequestBinURL": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "URL of the request bin to which data will be sent"
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "australiaeast",
        "australiasoutheast",
        "brazilsouth",
        "centralus",
        "eastasia",
        "eastus",
        "eastus2",
        "japaneast",
        "japanwest",
        "northcentralus",
        "northeurope",
        "southcentralus",
        "southeastasia",
        "westeurope",
        "westus"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "For_each": {
              "type": "Foreach",
              "foreach": "@triggerBody()['customers']",
              "actions": {
                "Http": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[parameters('RequestBinURL')]",
                    "body": "@{item()['name']} can be reached by phone at @{item()['phoneNumber']} or by mail at @{item()['address']['street']} @{item()['address']['region']}, @{item()['address']['province']} @{item()['address']['postalCode']}."
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {}
            },
            "Response": {
              "type": "Response",
              "inputs": {
                "statusCode": 200,
                "body": "The customers' contact information has been sent to request bin."
              },
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "street": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "province": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "street",
                              "region",
                              "province",
                              "postalCode"
                            ]
                          }
                        },
                        "required": [
                          "name",
                          "phoneNumber",
                          "address"
                        ]
                      }
                    }
                  },
                  "required": [
                    "customers"
                  ]
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}